@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.container
{
    width: 100%;
    background-color: #2B2B2B;
}
.Navigation
{
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px 50px;
}
.Navigation >.logo
{
    display: flex;
    align-items: center;
}
.Navigation >.logo >h3
{
    margin-left: 12px;
    font-weight: 800;
}
.Navigation >.logo >.fa-solid
{
    width: 32px;
    height: 32px;
    color: #A259FF;
    text-align: center;
    line-height: 32px;
    font-size: 25px;
}

.menu
{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
}
.menu >.signup> div
{
    display: flex;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    padding: 0 30px;
    justify-content: space-between;
    background-color: #A259FF;
    align-items: center;
}
.menu >.signup >div> .fa-regular
{
    font-size: 20px;
    margin-right: 12px;
}
.menu >.signup> div> p
{
    width: 60px;
    height: 22px;
    font-size: 16px;
    font-weight: 600px;
}
.Navigation> .fa-solid
{
    display: none;
}

/* css profile */
.profile
{
    width: 100%;
    height: 320px;
    background-image: url("./folder/image/Image\ PlaceHolder.png");
    position: relative;
    background-size: 100% 320px;
}
.profile >.avatar
{
    position: absolute;
    bottom: -50px;
    left: 115px;
}
.info
{
    display: flex;
    justify-content: space-between;
    padding:  40px 115px;
    margin-top: 50px;
    background-color: #2B2B2B;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
}
.info> .frame1
{
    width: 599px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.info>.frame1>.frame2
{
    display: none;
}
.info >.artist
{
    font-size: 50px;
    font-weight: bolder;
}
.info >.frame1> .button1
{
    display: none;
}
.info >.frame1> .button2
{
    display: none;
}
.stats
{
    display: flex;
    list-style: none;
    gap: 20px;
}


.info >.frame1> .bio h3
{
    color: #858584;
    margin-bottom: 10px;
}
.info >.frame1 >.link h3
{
    color: #858584;
    margin-bottom: 10px;
}
.info> .frame1 >.link ul
{
    list-style: none;
    display: flex;
    gap: 10px;
}

.info> .frame2
{
    display: flex;
    font-size: 16px;
    gap: 20px;
}
 .frame2>.button1
{
    display: flex;
    align-items: center;
    width: 186px;
    height: 60px;
    border-radius: 20px;
    background-color: #A259FF;
    justify-content: center;
    padding: 0 50px;
    gap: 12px;
}
 .frame2>.button1> .fa-regular
{
    font-size: 20px;
}
.frame2>.button1>p
{
    width: 113px;
    height: 22px;
}
 .button2
{
    display: flex;
    width: 145px;
    height: 60px;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #A259FF;
    padding: 0 30px;
    justify-content: center;
    gap: 12px;
}
 .button2 .fa-solid
{
    color: #A259FF;
}
.frame
{
    width: 100%;
    height: 70px;
    background-color: #2B2B2B;
    padding: 10px 0px 0px 0px;
    color: white;
    border-top: 2px solid #858584;
}
.frame >.tabs
{
    width: 1050px;
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-left: calc(50% - 525px);
}
.frame>.tabs>li
{
    width: 350px;
    height: 60px;
    display: flex;
    padding: 0px 30px;
    gap: 16px;
    justify-content: center;
    align-items: center;
    border-top: transparent;
}
.frame>.tabs>li>p
{
    width: 50px;
    height: 32px;
    background-color: #858584;
    border-radius: 20px;
    text-align: center;
    line-height: 32px;
}
.frame>.tabs>:first-child
{
    border-bottom: 2px solid #858584;
}

.section
{
    padding: 80px 115px;
    background-color: #3B3B3B;
    color: white;
}
.section >ul
{
    display: grid;
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: 469px 469px 469px;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-left: calc(50% - 526px);
}
.section >ul >li
{
    width: 330px;
    height: 469px;
    background-color: #2B2B2B;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    border-radius: 20px;
}
.section>ul>li>img
{
    width: 100%;
    height: 295px;
}
.section> ul> li> .content
{
    padding: 20px 25px 30px 30px;
}
.section >ul> li> .content > h2
{
    font-size: 22px;
    margin-bottom: 5px;
}
.section >ul >li> .content >div 
{
    display: flex;
    margin-bottom: 25px;
}

.section >ul >li> .content> div> img
{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 12px;
}
.section> ul> li> .content> div >p 
{
    
    font-size: 16px;
    font-weight: bold;
}
.section >ul> li> .content> ul
{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.section >ul >li >.content> ul> li
{
    width: 50%;
}
.section >ul >li >.content> ul> li> h4
{
    width: 100%;
    color: #858584;
    font-size: 12px;
    margin-bottom: 8px;
}
.section >ul> li> .content> ul> li> p
{
    width: 100%;
    font-size: 16px;
}


.footer
{
    width: 100%;
    background-color: #2B2B2B;
    padding: 40px 195px;
    color: white;
    display: flex;
    flex-direction: column;
}
.footer> .frame1
{
    display: flex;
    list-style: none;
    margin-bottom: 30px;
    justify-content: center;
}
.footer >.frame1 >:first-child> div
{
    width: 327px;
    padding: 0px 84px 0px 0px;
}
.footer >.frame1 >:first-child >div> div
{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.footer >.frame1 >:first-child> div>div i
{
    font-size: 25px;
    width: 32px;
    height: 32px;
    color: #A259FF;
    margin-right: 12px;
}


.footer >.frame1 >:first-child> div>  ul
{
    display: flex;
    list-style: none;
}
.footer >.frame1 >:first-child >div >ul> .icon
{
    margin-right: 10px;
}
.footer >.frame1 >li >div >h4
{
    margin-bottom: 25px;
}

 .footer >.frame1 >li >div > p
{
    font-size: 16px;
    color: #CCCCCC;
    margin-bottom: 20px;
}

.footer >.frame1 >:nth-child(2) >div
{
    width: 240px;
}
 
.footer >.frame1 >:last-child >div
{
    width: 420px;
}
.footer >.frame1 >:last-child> div>div 
{
    display: flex;
    background-color: #FFFFFF;
    width: 420px;
    height: 60px;
    padding: 16px 0px 16px 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}

.footer >.frame1> :last-child >div >div> p
{
    color: #2B2B2B;
    margin-bottom: 0px;
} 
.footer> .frame1 >:last-child >div> div >div>h3
{
    width: 179px;
    height: 60px;
    border-radius: 20px;
    background-color: #A259FF;
    padding: 0px 50px;
    margin: 0px;
    line-height: 3;
}  
.footer> .frame1 >:last-child >div> div >div>i
{
    display: none;
}
.footer >.frame2
{
    border-top: 2px solid #858584;
}
.footer >.frame2 >p
{
    margin-top: 20px;
    font-size: 12px;
    color: #CCCCCC;
}